@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 40px 80px;
}

h1 {
    font-family: Ubuntu;
    font-size: 46px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #843C6A;

}

h2 {
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;

}

h3 {
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E3535;
}

.topbar {
    width: 1920px;
    height: 40px;
    background: linear-gradient(90deg, #f08b75 0%, #E94D94 51%, #9B4894 100%);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    padding-left: 260px;
    justify-content: space-between;
}

.topbar>span {
    text-align: left;
    vertical-align: middle;

}

.topbar>nav {
    text-align: right;
    vertical-align: middle;
    padding-right: 260px;
}

.topbar>nav>a {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    display: inline;
    text-align: right;
}

.topbar-phone {
    padding-right: 45px;
    vertical-align: baseline;
}

.topbar-mail {
    vertical-align: baseline;
}

.navbar {
    width: 1920px;
    height: 80px;
    background: #FFFFFF;
    padding-left: 260px;
    padding-right: 260px;
    display: flex;
    flex-wrap: wrap;
    color: #4E3535;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-logo {
    display: flex;
    align-self: center;
}

.navbar-container {
    display: flex;
    padding-left: 148px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-info>nav>a {
    text-decoration: none;
    color: #4E3535;
}

.navbar-menu>a {
    text-decoration: none;
    color: #4E3535;
}

.Room-container {
    width: 1920px;
    height: 760px;
    background-image: url("../images/Room.svg");
}

.Room-info {
    width: 575px;
    height: 562px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(7.5px);
    position: relative;
    left: 260px;
    top: 99px;
}

.Room-text {
    padding-left: 49px;
    padding-top: 53px;
    padding-right: 48px;
}

.Room-text>p {
    padding-top: 54px;
}

.Room-buttons {
    padding-left: 49px;
    padding-top: 157px;
}

.Room-buttons>a {
    text-decoration: none;
}

.instagram {
    display: flex;
    flex-wrap: wrap;
    padding-left: 240px;
    padding-top: 135px;
    padding-bottom: 144px;
}

.instagram>.button {
    width: 457px;
    height: 80px;
    border-radius: 10px;
    background: var(----, linear-gradient(90deg, #9B4894 0%, #E94D94 51%, #F08B75 100%));
    backdrop-filter: blur(7.5px);
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: #FFF;
    align-self: flex-end;
}

.instagram-text {
    padding-left: 47px;

}

.instagram-text>h1 {
    width: 692px;
}

.instagram-text>p {
    width: 574px;
    height: 85px;
    padding-top: 36px;
}

.New-wallpapers>h1 {
    padding-left: 49px;
    padding-bottom: 70px;
}

.New-wallpapers {
    padding-left: 201px;
    padding-bottom: 160px;
}

.New-wallpapers>.slider {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: #4E3535;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Mirage>span {
    display: flex;
    flex-wrap: wrap;

}

.Voyager>span {
    display: flex;
    flex-wrap: wrap;
}

.Miymoto>span {
    display: flex;
    flex-wrap: wrap;
}

.Portofino>span {
    display: flex;
    flex-wrap: wrap;
}

.slider__arrow {
    align-self: center;
}

.description-container>.description__ceramic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 73px;
    gap: 70px;
}

.description-container>.description__ceramic>.description__ceramic-text>h1 {
    padding-bottom: 32px;
    width: 600px;
    height: 66px;
}

.description-container>.description__ceramic>.description__ceramic-text>p {
    width: 638px;
}

.description__ceramic-all {
    display: flex;
    flex-wrap: wrap;
}

.description__ceramic-all>span>img {
    justify-content: right;
}

.description__ceramic-all>span>span>a {
    text-decoration: none;
    color: #CA3192;
    text-align: right;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description-container {
    display: grid;
    grid-template-columns: 850px 1fr;
}

.description__design__text {
    padding-left: 260px;
    padding-right: 133px;
    padding-bottom: 99px;
}

.description-container>.description__paint {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 76px;
    padding-top: 150px;
    gap: 70px;
}

.description-container>.description__paint>.description__paint-text {
    padding-top: 44px;
}

.description-container>.description__paint>.description__paint-text>h1 {
    width: 457px;
    height: 66px;
    padding-bottom: 30px;
}

.description-container>.description__paint>.description__paint-text>p {
    width: 638px;
}

.choice-color {
    display: flex;
    flex-wrap: wrap;
    padding-left: 260px;
    gap: 15px;
}

.choice-color>.button_choice-color>.button {
    width: 221px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    color: #4E3535;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choice-color>.button_choice-color>#purple {
    border-radius: 10px;
    background: #CA3192;
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choice-color>a {
    text-decoration: none;
    color: #CA3192;
    text-align: right;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
}

.choice-color>img {
    justify-content: baseline;
}

.colors__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 201px;
    padding-right: 201px;
}

.colors>.cozy-bedspread1 {
    width: 221px;
    height: 221px;
    border-radius: 20px;
    background: #A9998A;
}

.colors>.cozy-bedspread1>p {
    padding-top: 160px;
    padding-bottom: 30px;
    padding-left: 19px;
    padding-right: 18px;
}

.individual-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 118px;
    padding-top: 165px;
}

.individual__text {
    padding-right: 61px;
    padding-left: 260px;
}

.individual__chart__photo {
    padding-right: 260px;
}

.design__wallpaper__bedroom-container,
.design__wallpaper__livingroom-container,
.design__wallpaper__kitchen-container,
.design__wallpaper__children-container,
.design__wallpaper__bathroom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #F6F6F6;

}

.design__wallpaper__bedroom-description {
    padding-left: 61px;
    padding-right: 260px;
    padding-top: 66px;
    padding-bottom: 96px;
}

.design__wallpaper__bedroom-description>h1 {
    width: 536px;
    height: 120px;
    top: 8845px;
    left: 1021px;
}

.design__wallpaper__bedroom-description>p {
    width: 639px;
}

.design__wallpaper__bedroom-description>p>span>a {
    color: #CA3192;
}

.design__wallpaper__livingroom-description {
    padding-left: 260px;
    padding-right: 61px;
    padding-top: 191px;
    padding-bottom: 96px;
}

.design__wallpaper__livingroom-description>h1 {
    width: 536px;
    height: 120px;
    top: 8845px;
    left: 1021px;
}

.design__wallpaper__livingroom-description>p {
    width: 639px;
}

.design__wallpaper__livingroom-description>p>span>a {
    color: #CA3192;
}

.design__wallpaper__kitchen-description {
    padding-left: 61px;
    padding-right: 260px;
    padding-top: 210px;
    padding-bottom: 96px;
}

.design__wallpaper__kitchen-description>h1 {
    width: 536px;
    height: 120px;
    top: 8845px;
    left: 1021px;
}

.design__wallpaper__kitchen-description>p {
    width: 639px;
}

.design__wallpaper__kitchen-description>p>span>a {
    color: #CA3192;
}

.design__wallpaper__children-description {
    padding-left: 260px;
    padding-right: 61px;
    padding-top: 191px;
    padding-bottom: 96px;
}

.design__wallpaper__children-description>h1 {
    width: 536px;
    height: 120px;
    top: 8845px;
    left: 1021px;
}

.design__wallpaper__children-description>p {
    width: 639px;
}

.design__wallpaper__children-description>p>span>a {
    color: #CA3192;
}

.design__wallpaper__bathroom-description {
    padding-left: 61px;
    padding-right: 260px;
    padding-top: 283px;
    padding-bottom: 96px;
}

.design__wallpaper__bathroom-description>h1 {
    width: 536px;
    height: 120px;
    top: 8845px;
    left: 1021px;
}

.design__wallpaper__bathroom-description>p {
    width: 639px;
}

.design__wallpaper__bathroom-description>p>span>a {
    color: #CA3192;
}

.why__buy-container {
    padding-top: 163px;
    padding-left: 260px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.why__buy-container>.why__buy-description {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.why__buy-container>.why__buy-description>.why__buy__convenience-description {}

.why__buy-container>.why__buy-description>.why__buy__convenience-description>p {
    width: 416px;
}